# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OneDrive - ISEP\mes Documents\Programmes\Java\A2\Algo avancée\TP5\DijkstraWithCollections\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
